@page
<div>
	<form>
		<div>
			<a class="text-dark" id="register" asp-area="Identity" asp-page="/Account/AutoService/RegisterAutoService">Продолжить как автосервис</a>
		</div>
		<div>
			<a class="text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Продолжить как клиент</a>
		</div>
	</form>
</div>