@using AutoMechanikMVC.Services

@inject AuthService AuthService

<ul class="navbar-nav">
	@* 	@if (ApiAuthService.IsAuthenticated(Context))
	{
		@if (User.IsInRole("AutoService"))
		{
			<li class="nav-item">
				<a id="panelApplications" class="nav-link text-dark" asp-controller="PanelApplicationsAutoService" asp-action="Index">Панель заявок</a>
			</li>
		}
	}
	else //Обратить внимание на этот кусок говнакода!!!!
	{ *@
	@{
		var currentRoute = ViewContext.RouteData.Values["page"]?.ToString();

		string isRegisterPage = "/Views/Account/Register";
		string isLoginPage = "/Views/Account/Login";
		string isRegisterConfirmationPage = "/Views/Account/RegisterConfirmation";

		if (currentRoute != isRegisterPage && currentRoute != isLoginPage && currentRoute != isRegisterConfirmationPage)
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Войти в аккаунт</a>
			</li>
		}
	}
</ul>