@model IEnumerable<AutoMechanikCore.Models.ApplicationModel>
@{
	ViewData["Title"] = "PanelApplicationsAutoServicePage";
}

<div class="container">
	<h2 class="text-center">Панель управления заявками клиентов</h2>

	<form asp-action="Create" asp-controller="PanelApplicationsAutoService" method="post">
		<div>
			<button type="submit">
				Добавить заявку в бд
			</button>
		</div>
	</form>

	<div class="row">
		<div class="col">
			<p class="text-center">Новые</p>
			<div>
				<ul class="list-group">
					@foreach (var application in Model)
					{
						<li class="list-group-item list-group-item-action">
							@application.Id
						</li>
					}
				</ul>
			</div>
		</div>
		<div class="col">
			<p class="text-center">Подтвержденные</p>
			<div>
				<ul class="list-group">
				</ul>
			</div>
		</div>
		<div class="col">
			<p class="text-center">В работе</p>
			<div>
				<ul class="list-group">
				</ul>
			</div>
		</div>
		<div class="col">
			<p class="text-center">Завершенные</p>
			<div>
				<ul class="list-group">
				</ul>
			</div>
		</div>
	</div>
</div>

