@{
    ViewData["Title"] = "Home AutoService Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home AutoService Page</h1>

    <form asp-action="Create" method="post">
        <div>
            <button type="submit">
                Добавить заявку в бд
            </button>
        </div>
    </form>
</div>
